
#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}
.stretch {
    width: 100%;
    height: 100%;
  }
/* Add a black background color to the top navigation */
.topnav {
  background-color: cadetblue;
  border-bottom: 5px solid orange;
  overflow: hidden;
  width: 150%;
  height: auto;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 3px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #83b97a;
  color: black;
}


.bg-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: 10px solid orange;
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
}

h2 {
  text-align: left;
  text-transform: uppercase;
}
h1 {
  text-align: center;
}

p{
    text-align: center;
}