/* Add a black background color to the top navigation */
.topnav {
  background-color: cadetblue;
  border-bottom: 5px solid rgb(252, 192, 81);
  overflow: hidden;
  border-radius: 5px;
  z-index: 10;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #83b97a;
  color: black;
}

.header {
  color: #494949;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  text-align: center;
}

h2 {
  color:cadetblue;
  font-size: 30px;
  font-kerning:unset;
}

/* Split the screen in half */
.split {
  width: 50%;
  bottom: 0;
  position: fixed;
  z-index: 1;
  top: 8%;
  overflow-y: scroll;
  padding-top: 20px;
}

/* Control the left side */
.left {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 0;
  border-radius: 2%;
  background-color: whitesmoke;
}

/* Control the right side */
.right {
  text-align: right;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  right: 0;
  border-radius: 2%;
  background-color: rgb(234, 234, 234);
  padding-right: 20px;
  margin: 5;
}

.cartImg > img {
  width: 300px;
  border-radius: 40%;
  border: 5px solid;
  border-color: cadetblue;
}

/* Style the image inside the centered container, if needed */
.photo {
  width: 500px;

  align-items: flex-start;
  border: 5px solid;
  border-color: rgb(252, 192, 81);
  border-radius: 30%;
}

.cart {
  text-align: center;
  font-kerning: inherit;
  overflow-y: scroll;
  height: 100%;
}
.crumb {
  margin-right: 2em;
  display: inline;
}

ol {
  padding-left: 0;
}
body {
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  background-color: rgb(245, 242, 242);
}
.title {
  color: #494949;
  float: inline-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}
label {
  font-size: smaller;
}
.margin {
  margin: 20px 0px;
}
.cart-math {
  text-align: right;
  margin-right: 30px;
}

.WebContainer {
  width: 100%;
  height: auto;
}
.articles {
  width: 90%; /*Takes 90% width from WebContainer*/
  height: auto;
  margin: auto;
}
